*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto Condensed', sans-serif;
}

body{
    background:black;
    padding: 20px; 
}

/* menú de navegación*/
.navbar{
    grid-area: navbar;
  }

  .navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar li{
    font-family: 'Creepster', cursive;
    font-weight: 400;
    list-style:none;
  }

  nav ul li:hover{
      transform: scale(1.2);
  }


  a{
      color: white;
      background: black;
      text-decoration: none;
      margin: 10px;
      padding: 3px;
      font-family: 'Creepster', cursive;
      font-weight: lighter;
  }

/*Contenido encabezado*/

.contenidoCabecera{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.contenidoLogo{
    width: 120px;
    height: 100px;
    background:rgb(180, 167, 167) ;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid black;
    margin: auto;
}

.contenidoLogo img{
    width: 100%;
    height: 100%;
}

.contenidoCabecera h1{
    font-family: 'Creepster', cursive;
    font-weight: 400;
    color: white;
    margin-top: 20px;
    display: none;
}
/*Cierre Contenido Encabezado*/


/*Main*/
main{
    background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(177,187,194,1) 100%);;
    
}

/*ContenidoUno*/
.contenidoUno{
    width: 100%;
    margin-top: 20px;
    border-top: 3px solid black;
}

.imgContenidoUno{
    width: 100%;
    text-align: center;
}

.imgContenidoUno img{
    width: 250px;
    height: 200px;
    margin: 10px;
}

.textoContenidoUno{
    width: 100%;
    text-align: center;
}

.textoContenidoUno h2{
     margin-top: 10px;
     font-weight: 800;
     text-align: center;
}

.subtitleP{
    font-size: 18px;
    font-weight: 800;
    margin: 20px;
}

.textoContenidoUno p{
    margin-top: 20px;
    color:black;
    font-weight: 800;
    letter-spacing: 1px;
}

/*ContenidoDos*/
.contenidoDos{
    width: 100%;
    margin-top: 30px;
    border-top:3px solid black;
}

.imgContenidoDos{
    width: 100%;
    text-align: center;
}

.imgContenidoDos img{
    width: 200px;
    height: 250px;
    margin: 10px;
}

.textoContenidoDos{
    width: 100%;
    text-align: center;
}

.textoContenidoDos h3{
     margin-top: 10px;
     font-size: 30px;
     font-weight: 800;
     text-align: center;
}

.textoContenidoDos p{
    margin-top: 20px;
    color:black;
    font-size:20px ;
    font-weight: 800;
    letter-spacing: 1px;
}

/*ContenidoTres*/
.contenidoTres{
    width: 100%;
    margin-top: 30px;
    border-top:3px solid black;
}

.imgContenidoTres{
    width: 100%;
    text-align: center;
}

.imgContenidoTres img{
    width: 250px;
    height: 200px;
    margin: 10px;
}

.textoContenidoTres{
    width: 100%;
    text-align: center;
}

.textoContenidoTres h4{
     margin-top: 10px;
     font-size: 30px;
     font-weight: 800;
     text-align: center;
}

.textoContenidoTres p{
    margin: 20px;
    color:black;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}

/*Barra*/
.barra{
    width: 100%;
    margin-top: 30px;
    background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
    border-top:3px solid black;
}

.imgBarra{
    width: 100%;
    text-align: center;
}

.imgBarra img{
    width: 60%;
    margin: 10px;
}

.textoBarra{
    width: 100%;
    text-align: center;
}

.textoBarra h2{
     margin-top: 10px;
     font-size: 30px;
     font-weight: 800;
     text-align: center;
}

.textoBarra p{
    margin-top: 20px;
    color:black;
    font-weight: 800;
    letter-spacing: 1px;
}

.textoBarra ul li{
    margin-top: 10px;
    list-style-type:none;
    font-weight: 700;
}

.textoBarra .barraTickets{
    text-align: center;
}

.imgBarra2{
    text-align: center;
}

.imgBarra2 img{
    width: 250px;
    height: 200px;
    margin: 10px;
}

.slider{
   width: 90%;
   margin: auto;
   overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    margin-top: 70px;
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.imgExtra{
    display: none;
}

/* Cierre Barra*/


/*Contacto*/

.bodyContacto{
    height: 100%;
    line-height: 1.6;
    background-image: url(../img/pil-3-1024x680.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

.contactoTexto{
    margin: 20px;
    padding: 10px;
    display: grid;
    justify-content: stretch;
    text-align: center;
    box-shadow: rgba(0,0,0,0.5);
    background: rgba(237, 240, 245, 0.692);
    border-radius: 5px
}

/*formulario de contacto*/
.container {
    max-width: 1189px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul {
    list-style: none;
    padding: 0;
}

.contactWrapper {
    box-shadow: rgba(0,0,0,0.5);
    background: rgba(237, 240, 245, 0.692);
}

.contactWrapper > * {
    padding: 1em;
}

.contactForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contactForm form label {
    display: block;
}

.contactForm form p {
    margin: 0;
    padding: 1em;
}

.contactForm form .block {
    grid-column: 1 / 3;
}

.contactForm form button,
.contactForm form input,
.contactForm form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    font-weight: bolder;
    color:black;
    border-bottom: 1px solid powderblue;
}

.contactForm form button {
    background:crimson;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contactForm form button:hover,
.contactForm form button:focus {
    background-color: rgba(237, 240, 245, 0.692) ;
    transition: background-color 1s ease-out;
    outline: 0;
}

/* contact info */
.contactInfo {
    background: rgba(237, 240, 245, 0.692);
}

.contactInfo h4, .contactInfo ul, .contactInfo p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contactImg{
    border: none;
    width: 50%;
}


/*Derechos de autor*/
.footer{
   width: 100%;
   display: grid;
   grid-template-columns: 65% auto;
   grid-template-rows: 1fr;
   align-items: center;
   justify-content: space-between;
}


footer{
    color: white;
    background:black;
}

footer h6{
    font-size: 16px;
}

.alCielo{
    padding: 0;
    font-size: 16px;
    text-decoration-style: none;
    justify-self: end;
}

footer img{
    width: 100px;
}

footer p{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: white;
}
/*Cierre derechos de autor*/


.textoDesarrollo p{
    margin: 15px;
    font-weight: 600;
}


/*Sección Arte*/
.videoIosu{
    width: 95%;
    margin: 10px;
}

.parrafoVideo{
    margin: 15px;
    font-size: 18px;
    font-weight: 800;
    text-align: start;
}

/*media quieries*/
@media only screen and (min-width:600px){
    
    .contenidoCabecera h1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenidoCabecera{
        display: grid;
        grid-template-areas: "contenidoLogo h1 h1"
    }

    /*contacto*/
body {
    padding: 0 4em;
}
.contactWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.contactWrapper > * {
    padding: 2em;
}
.contactInfo h4,
.contactInfo ul,
.contactInfo p {
    text-align: left;
}

/* sección Nosotros*/
.nosotrosMain{
    height: 100vh;
    background-image: url(../img/pil5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 30px;
}

.sobreNosotros{
    margin: 20px;
    padding: 10px;
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0,0,0,0.5);
    background: rgba(237, 240, 245, 0.692);
    border-radius: 5px;
}

.sobreNosotros h2{
    font-size: 40px;
}

.sobreNosotros p{
    font-size: 30px;
    font-weight: 800;
}




}

@media only screen and (min-width:900px){
    .contenidoUno{
        display: block;
    }

    main{
        display: grid;
        grid-template-areas: "header header header"
                             "barra contenidoDos contenidoDos"
                             "contenidoUno contenidoUno contenidoUno"
                             "contenidoTres contenidoTres contenidoTres"
                             "footer footer footer";
       grid-template-columns: 1fr;                      
    }

    header{
        grid-area: header;
    }

    .barra{
        grid-area: barra;
    }

    .imgExtra{
        display: block;
    }

    .imgExtra img{
        margin-top: 60px;
        width: 90%;
    }

    .contenidoUno{
        grid-area: contenidoUno;
    }

    .contenidoDos{
        grid-area: contenidoDos;
    }

    .contenidoTres{
        grid-area: contenidoTres;
    }

    footer{
        grid-area: footer;
    }

}


@media only screen and (min-width:1024px){

     main{
         display: grid;
         grid-template-areas: "header header header header"
                              "contenidoDos contenidoDos contenidoDos"
                              "contenidoUno contenidoUno contenidoUno"
                              "barra contenidoTres contenidoTres"
                              "footer footer footer";
        grid-template-columns:  auto;                   
     }

     header{
         grid-area: header;
     }

     .barra{
         grid-area: barra;
     }

     .contenidoUno{
         grid-area: contenidoUno;
     }

     .contenidoDos{
         grid-area: contenidoDos;
     }

     .contenidoTres{
         grid-area: contenidoTres;
     }

     footer{
         grid-area: footer;
     }

     header{
         margin-bottom: 40px;
     }

    .navbar li{
        font-size: 30px;
        margin: 10px 40px 10px 40px;
    }

    .textoDesarrollo{
        font-size: 18px;
    }

    h1{
        font-size:50px ;
    }

    a{
        font-size: 30px;
    }

    .imgContenidoUno img{
        width: 450px;
        height: 400px;
    }

    .textoContenidoUno h2{
        font-size: 40px;
        font-weight: 900;
    }

    .textoContenidoUno, .subtitleP{
        font-size: 10px;
        margin: 30px;
    }

    .textoContenidoUno p{
        font-size: 25px;
        text-align:start;
    }

    .imgContenidoDos img{
        width: 300px;
        height: 350px;
    }

    .contenidoDos{
        width: 100%;
    }

    .textoContenidoDos h3{
        font-size: 40px;
    }

    .textoContenidoDos p{
        font-size: 25px;
    }

    .videoIosu{
        width: 90%;
    }

    .parrafoVideo{
        font-size: 25px;
        text-align: center;
    }

    .textoContenidoTres h4{
        font-size: 40px;
    }

    .textoContenidoTres p{
        font-size: 25px;
        text-align:start;
    }

    .barra{
        width: 100%;
    }

    .textoBarra h5{
        font-size: 30px;
    }

    .textoBarra p{
        font-size: 20px;
        text-align: start;
        margin: 20px;
    }

    .imgBarra img{
        margin-top: 50px;
    }

    .textoBarra ul li{
        font-size: 30px;
    }

    .imgBarra2 img{
        margin-top: 60px;
        width: 250px;
        height: 200px;
    }

    .slider {
        width: 90%;
    }

    .imgExtra img{
        margin-top: 80px;
        margin-bottom: 0;
        width: 90%;
    }

    .imgExtra{
        display: none;
    }
}


    






